

.cardProject{
    box-shadow: 0 10px 15px -3px  rgb(93, 173, 179),10px 4px 6px -4px  rgb(179, 48, 174), 10px 4px 16px -4px   rgb(179, 48, 97);
    transition: box-shadow 0.5s ease-in-out; 
    animation: pulse 3s infinite;
}

.cardProject:hover{
    box-shadow: 0 10px 15px -3px  rgb(179, 48, 97),10px 4px 6px -4px  rgb(179, 48, 174), 10px 4px 16px -4px   rgb(93, 173, 179);

}


@keyframes pulse {
    0% {
        box-shadow: 0 10px 15px -3px  rgb(93, 173, 179),10px 4px 6px -4px  rgb(179, 48, 174), 10px 4px 16px -4px   rgb(179, 48, 97);
    }
    5% {
        transform: scale(1.002);
    }
    15% {
        transform: scale(1);
    }
    70% {
        box-shadow: 0 10px 15px -3px  rgb(179, 48, 97),10px 4px 6px -4px  rgb(179, 48, 174), 10px 4px 16px -4px   rgb(93, 173, 179);
    }
    100% {
        box-shadow: 0 10px 15px -3px  rgb(93, 173, 179),10px 4px 6px -4px  rgb(179, 48, 174), 10px 4px 16px -4px   rgb(179, 48, 97);
    }
}