.no-scroll {
    overflow: hidden;
  }
  
  .introTypeWriter {
    transition: transform 1s ease; /* Smooth transition */
  }
  
  .drop-in {
    animation: drop-in 1s ease 200ms backwards;
   }


   .hideSecondSection {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  .hideSkillsSection {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  
  .showSecondSection {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .showSkillsScection{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  
  .secondSection{
    display: flex;
  }

  .hideSecondSection:nth-child(2){
    transition-delay: 200ms;
  }
  .hideSecondSection:nth-child(3){
    transition-delay: 400ms;
  }
  .hideSecondSection:nth-child(4){
    transition-delay: 600ms;
  }
  .hideSecondSection:nth-child(5){
    transition-delay: 800ms;
  }
  .hideSecondSection:nth-child(6){
    transition-delay: 5s;
  }


  
  .hideSkillsSection {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  


  @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }
   